# Vite
dist

# Node
node_modules

# Electron-Builder
build_output

# Python
__pycache__/
*.pyc

# IDE / OS
.vscode/
.DS_Store

# Logs
*.log

# Environment
.env
.env.local

# Build artifacts
build/
.gemini/
